<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/meta-tags' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="bg-light-gray">
    <div class="flex flex-col h-screen">
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>
      <div class="flex-grow">
        <%= yield %>
      </div>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
